/* top, right, bottom, left */

QComboBox QLineEdit {
    border: none;
    padding: 0px $padding_right 0px $padding_left;
    margin: 0px $padding_right 0px $padding_left;
    /* margin: 0px 0px 0px $padding; */

    background: $widget_bgd;


}
QComboBox QLineEdit:read-only {
    border: none;
    padding: 0px $padding_right 0px $padding_left;
    margin: 0px $padding_right 0px $padding_left;

    /* margin: 0px 0px 0px $padding; */

    background: $widget_bgd;

}

