QFrame {
    /* background-color: $window_bgd; */
    background-color: $window_bgd;
    background: $window_bgd;

    /* background: $window_bgd; */
    /* background: transparent; */
    /* background-color: #00ff37;
    background: #00ff37; */
    /* border: none; */
    /* border-radius: $radius; */
    /* background: transparent; */
    border: none;

    padding-top: 10px;

    margin-top: 10px;


}


QAbstractItemView {
    background-color: $window_bgd;
    background: $window_bgd;
    /* border: none; */
    border-radius: $radius;
    /* border-radius: 9px; */
    width: $popup_width;
    /* outline: none; */
    margin-left: 0px;

    margin-top: 0px;
    padding-top: 0px;

    /* margin-top: 5px; */
    outline: none;

    color: #d4d4d8;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

}


QListView::item {
    background: #7caeff;
    padding-left: $radius;
    padding-right: $radius;
    margin-left: $radius;
    margin-right: $radius;

    margin-top: 0px;
    padding-top: 0px;

    /* margin-top: $radius; */
    /* margin-bottom: $radius; */
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    /* background: #4a4e54; */
    border-radius: $radius;
}

QListView::item:selected {
    background: #0062ff;
    border-radius: $radius;
}



